a:hover
{
font-weight: bold;
color: #4389F1;
text-decoration: none;
font-family:Verdana, Helvetica, Arial;
font-size:10pt;
}

a
{
text-decoration: none;
font-weight: bold;
color: #284B80;
font-family: Verdana, Helvetica, Arial;
font-size:10pt;
}




td, li, dt, dd, blockquote, code, th, span {font-family:Verdana, Helvetica, Arial; font-size:10pt;}

span.big {font-family:Verdana, Helvetica, Arial; font-size:12pt;}

td.menuinactive
{
padding:5px;
background-color:#C0DCE2;
background-repeat:repeat-x;
background-image: url(bilder/mof/menutab-inactive.png);
color:#ffffff;
text-decoration: none;
font-weight: none;
}

td.menuactive
{
padding:5px;
background-color:#C0DCE2;
background-repeat:repeat-x;
background-image: url(bilder/mof/menutab-active.gif);
text-decoration: none;
font-weight: none;
}

td.i
{
padding:5px;
background-color: #DDEAF1;
text-decoration: none;
font-weight: none;
border-right: 1px solid #000000;
border-bottom: 1px solid #000000;
border-top: 1px solid #F9FCFD;
border-left: 1px solid #F9FCFD;

}



td.ir
{
padding:5px;
background-color: #F7FBFD;
text-decoration: none;
font-weight: none;
border-top: 1px solid #000000;
border-right: 1px solid #000000;
}


td.i2
{
padding:5px;
background-color: #E9F4F9;
text-decoration: none;
font-weight: none;
border-top: 1px solid #000000;
}


td.i2r
{
padding:5px;
background-color: #E9F4F9;
text-decoration: none;
font-weight: none;
border-top: 1px solid #000000;
border-right: 1px solid #000000;
}



td.mi
{
padding:5px;
background-color: #F0F8FC;
text-decoration: none;
font-weight: none;
}


td.mi2
{
padding:5px;
background-color: #ffffff;
text-decoration: none;
font-weight: none;
}









td.ihead
{
padding:2px;
background-color: #CFE4F5;
text-decoration: none;
font-weight: none;
}


td.ihead2
{
padding:2px;
background-color: #C0DBF2;
text-decoration: none;
font-weight: none;
}


td.zitat
{
padding:5px;
background-color: #ffffff;
text-decoration: none;
font-weight: none;
}



table.rahmen
{
background-color: #000000;
}

table.inlineshadow
{
border-left: 1px solid #9999cc;
border-top: 1px solid #9999cc;
border-bottom: 1px solid #ffffff;
border-right: 1px solid #ffffff;
}






a.l:hover
{
font-weight: bold;
color: #4389F1;
text-decoration: none;
}

a.l
{
text-decoration: none;
font-weight: bold;
color: #325FA2
}

a.navilink:hover
{
color: #164E27;
text-decoration: none;
}

a.navilink
{
text-decoration: none;
color: #000000
}

span.code
{
font: 10pt courier;
color: #007E6B;
}


span.codebrack
{
font: 10pt courier;
color: #000000;
}


span.rot
{
color: #ff0000;
}

h2
{ 
font-size: 16pt;
font-family: Verdana, Helvetica, Arial;
}

h3
{ 
font-size: 12pt;
font-family: Verdana, Helvetica, Arial;
}